

//Colors variables
$primary-color: #00B050;
$secondary-color: #030303;
$tertiary-color: #171717;
$black-3-color: #242424;
$grey-color: #7D7D7D;
$white-color: #FFFFFF;

//Fonts variable
$avenir-heavy: "AvenirHeavy", sans-serif;
$avenir-black: "AvenirBlack", sans-serif;
$avenir-medium: "AvenirMedium", sans-serif;
$avenir-roman: "AvenirRoman", sans-serif;